:root {
    --main-font: "Poppins", sans-serif;
}
body {
    background: #272044;
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
header {
    color: white;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.6)), url("../images/dumyat-hero.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    
        padding: 200px 0;
}
header h1 {
  
        font-weight: 700;
        font-size: 96px;
        line-height: 1;
        margin: 30px 0;
    
        
}
header h3 {
 
        font-weight: 900;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: 5px;
        margin: 0;
        
       
}
header h2 {
        font-weight: 400;
        font-size: 40px;
        line-height: 1.5;
        margin: 0;
        

}
header a {
    font-weight: 700;
    font-size: 14px;
    background-color: #fff;
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    text-transform: uppercase;
}
main {
    background-color: white;;
}
main h2 {
    font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 5px;
        opacity: 0.3;
        text-transform: uppercase;
        margin: 0;
}
main h3 {
    font-weight: 700;
        font-size: 40px;
        line-height: 1.5;
        color: #272044;
        margin: 0;
}
main h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #272044;
    margin: 0;
}

main h5 {
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
    color: #272044;
    margin: 0;
}
main p {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #272044;
        opacity: 0.7;
}
.bridge-summer {
    width: 570px;
        height: 461px;
        filter: saturate(2);
}
.img-responsive {
    max-width: 100%;
    display: block;
}
section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
 .secondary {
    background-color: #f8f8f8;
}
.card {
    background-color: white;
    margin: 30px 0;
}
.card-body {
    padding: 30px;
}
.card.footer {
    padding: 0 30px 30px;
}
.text-center {
    text-align: center;
}
.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}
.btn {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    padding: 16px;
    background: #462CB3;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.gallery {
    margin: 30px 0;
    padding: 0;
}

.grid-gallery {
    padding: 0;
    margin: 15px;
}

.grid-gallery.grid {
    grid-gap: 15px;
}
.grid {
    display: grid;
    grid-gap: 64px;
}
.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}
.grid-3-columns-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}
.music-video {
    margin-top: 20px;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
}
footer {
    color: white;
    background-image: linear-gradient(rgba(39, 32, 68, 0.9),
            rgba(39, 32, 68, 0.9)), url("../images/footer.JPG");
            background-size: cover;
            background-repeat: no-repeat;
}
footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    
}
footer p {
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a {
    color: white;
    opacity: 0.7;
}
@media(max-width: 960px) {
    header {
        padding: 60px 0;
    }
    header h1 {
        font-size: 48px;
    }
    header h2 {
        font-size: 20px;
    }
    header h3{
        font-size: 12px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    section {
        padding: 30px;
    }
}